version: 2.1


jobs:
  build:
    docker:
      - image: node:16
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package.checksum" }}
            - v1-deps-
      - run: npm install
      - save_cache:
          key: v1-deps-{{ checksum "package.checksum" }}
          paths: 
            - node_modules
      - run: npm run lint
      - run: npm run build
      - run: npm test

workflows:
  build_lint_test:
    jobs:
      - build
