# CircleCI configuration file

version: 2.1

commands:
  deps:
    steps:
      - restore_cache:
          name: Restore dependecies cache
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          name: Save dependecies cache
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths: 
            - node_modules
  build:
    steps:
      - run:
          name: Build code
          command: npm run build

jobs:
  test:
    docker:
      - image: node:12
    resource_class: small
    steps:
      - checkout
      - deps
      - build
      - run:
          name: Test
          command: npm test
      - store_test_results:
          path: test-results.xml
  lint:
    docker:
      - image: node:12
    resource_class: small
    steps:
      - checkout
      - deps
      - run:
          name: Lint
          command: npm run lint
  bench:
    docker:
      - image: node:12
    resource_class: small
    steps:
      - checkout
      - deps
      - build
      - run:
          name: Benchmarks
          command: npm run bench
      - store_test_results:
          path: bench-results.xml


workflows:
  ci_all:
    jobs:
      - test
      - lint
  ci_bench:
    jobs:
      - request-manual:
          type: approval
      - bench:
          requires:
            - request-manual